.bolderr{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
}

.bolder-menu{
    margin-left: 10px;
    margin-top: 150px;
    margin-bottom: 0px;
    font-size: 19px;
    font-weight: 500;
}