.already-account {
    margin-top: 90px !important;
}

.align-center{
    text-align: center;
    margin-top: 10px!important;
}

.wdot-icon {
    margin-left: 5px;
}

.dot-icon {
    margin-left: 10px!important;
}