.already-account {
    margin-top: 130px !important;
}

.align-center{
    text-align: center;
    margin-top: 20px;
}

.wdot-icon {
    margin-left: 5px;
}

.dot-icon {
    margin-left: 10px!important;
}