.title{
    font-family: 'Montserrat'!important;
    font-style: normal!important;
    font-weight: 600!important;
    font-size: 20px!important;
    line-height: 32px!important;

    text-align: center;
    margin-bottom: 0px;
    color: #000000;
}
.welcome-text{
    font-family: 'Montserrat'!important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px!important;
    line-height: 32px!important;
    /* or 213% */

    text-align: center;
    margin-top: 0px;
    color: #000000;
}
.text-align{
    text-align: left;
}
.left{
    font-family: 'Montserrat'!important;
    font-style: normal !important;
    font-weight: 500!important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */

    text-align: left;
    margin-bottom: 0px;
    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.margin-top{
    padding-top: 74px;
}

.text-field{
    box-sizing: border-box;
    
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;

    

    /* Base/White */

    background-color: #FFFFFF;
    border: 1px solid #000000!important;
   
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 10px;

}

.p-css{
    margin-top: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Gray/700 */

    color: #344054;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.float{
    margin-top: 18px!important;
    float: right;
    font-family: 'Montserrat'!important;
    font-style: normal;
    font-weight: 500!important;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none!important;
    /* identical to box height, or 143% */


    color: #0077FF!important;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.checkbox{
    background-color: #FFFFFF;
    /* Gray/300 */
    text-align: left!important;
    margin-left: 0px;
    margin-top: 7px!important;
    border-radius: 4px!important;
    color: white;
    /* Inside auto layout */

}
.google-button{
    margin-top: 25px!important;
}
.google-icon{
    max-width: 30px;
    max-height: 26px;
}

.Sign-Up {
    text-align: left;
    margin-left: 0px!important;
    float: left;
    margin-top: 15px!important;
    color: #0077FF !important;
}
.text-account{
    text-align: end;
}

.no-account{
    margin-top: 250px!important;
}